cryptography
defusedcsv
openpyxl
pandas
protobuf
psycopg2-binary
pypdf
python-dateutil
pytz
requests
seaborn
SQLAlchemy
st-annotated-text
streamlit
streamlit-authenticator
tabulate
typing_extensions
urllib3
streamlit-aggrid
tqdm
reportlab 
matplotlib
plotly
